/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: rgba(201, 201, 223);
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #ffffff;
}

.logo {
    width: 3.75rem;
    height: 3.75rem;
}

/* Buttons */

.custom-button-filled {
    background-color: green;
    color: white;
    width: auto;
    display: inline-block;
}

.custom-button-filled:hover {
    outline: 0.125rem solid gray;
    background-color: gold;
    color: black !important;
}


.navbar a {
    color: rgb(229, 235, 239);
    font-weight: bold;
    font-size: 1.5625rem;
    background-color: rgb(89, 128, 150);
    border-radius: 0.3125rem;
    padding: 0.1875rem 0.3125rem;
    margin: 0 0.4375rem;
    transition: background-color 0.1s ease;
}

.navbar a.active {
    color: gold !important;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5625rem;
}

.navbar a:hover {
    color: white;
    font-weight: bold;
    transform: scale(1.1);
}

/* background image for index.html (home) page */

.background {
    background: url('../images/OldCourse.webp') center/cover no-repeat;
    width: 100%;
    height: 100vh;
    opacity: 0.9;

}

/* Text styling */
.center-text {
    /* Position it over the image */
    position: absolute;
    /* Center text horizontally */
    text-align: center;
    font-size: 5rem;
    font-family: 'Courier', 'Courier New', Courier, monospace;
    font-weight: bold;
    color: cyan;
}

/* championships page */
.championships-page #founders h1 {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    font-weight: bold;
}

.championships-page #founders .photo-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

.championships-page #founders .photo-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

/* History page */

.history-page #founders h1 {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    font-weight: bold;
}

.history-page #founders .photo-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

.history-page #founders .photo-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

/* Enquiry page */
.enquiry-page {
    background: url('../images/OldCourse.webp') center/cover no-repeat;
    width: 100%;
    height: 145vh;
    opacity: 0.9;
}

.enquiry-page #enquiry h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}

.enquiry-page #enquiry form {
    background-color: #ffffff;
    padding: 1rem;
}


.form-label {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}

/* Success page */

.success-page #social-networks {
    background-color: white;
}

.custom-button-outline {
    border: 0.125rem solid #00509e;
    background-color: aliceblue;
    color: #00509e;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
.custom-button-outline:hover {
    background-color: #00509e;
    color: #ffffff;
}

.custom-button-outline {
    margin-top: 1.25rem;
    margin-bottom: 0.3125rem;
}



/* Footer */
footer {
    background-color: white;
}

#social-networks {
    text-align: center;
    padding: 1.6875rem 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
}

/* Specific platform colors */
#social-networks .facebook i {
    color: #4267B2;
    /* Facebook blue */
}

#social-networks .twitter i {
    color: #1DA1F2;
    /* Twitter blue */
}

#social-networks .youtube i {
    color: #FF0000;
    /* YouTube red */
}

#social-networks .instagram i {
    color: #E4405F;
    /* Instagram orange */
}


@media (min-width: 996px) {
    #founders h1 {
        margin-top: 4rem;
        padding-top: 1rem;
    }

}